html,
body {
  font-family: "Farro", monospace;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  padding: 5px;
  margin: 5px;
  font-family: "Farro", monospace;
}
button:hover,
button:focus {
  background-color: #b4f1ce;
}

input {
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
}
